<section class="md:grid md:grid-cols-12 md:gap-x-16">
  {{ if images }}
    {{ images sort="random" limit="1" }}
      <figure class="mb-40 md:mb-28 md:col-span-12 lg:col-span-6">
        {{ partial:components/picture :image="url" }}
      </figure>
    {{ /images }}
  {{ /endif }}
  <div class="md:col-span-7 md:col-start-4 lg:col-span-4 lg:col-start-8 xl:col-span-4 xl:col-start-8 hyphens-auto">
    {{ partial:components/heading_one :title="title" }}
    {{ content }}
      {{ if type == 'text' }}
        {{ text }}
      {{ /if }}
    {{ /content }}
  </div>
</section>    

