/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */
 
@layer base {

  @font-face {
    font-family: 'FunktionalGrotesk-Bold';
    src: url('$fonts/FunktionalGrotesk-Bold.eot');
    src: url('$fonts/FunktionalGrotesk-Bold.eot?iefix') format('eot'),url('$fonts/FunktionalGrotesk-Bold.woff') format('woff'), url('$fonts/FunktionalGrotesk-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FunktionalGrotesk-Medium';
    src: url('$fonts/FunktionalGrotesk-Medium.eot');
    src: url('$fonts/FunktionalGrotesk-Medium.eot?iefix') format('eot'),url('$fonts/FunktionalGrotesk-Medium.woff') format('woff'), url('$fonts/FunktionalGrotesk-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FunktionalGrotesk-Regular';
    src: url('$fonts/FunktionalGrotesk-Regular.eot');
    src: url('$fonts/FunktionalGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('$fonts/FunktionalGrotesk-Regular.woff') format('woff'), url('$fonts/FunktionalGrotesk-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

}