<section class="flex flex-col md:grid md:grid-cols-12 md:gap-x-16 relative">

  <div class="md:col-span-6 md:col-start-4 mb-40 md:mb-32 lg:hidden">
    <a href="{{ link to="expertise"}}" class="inline-block">
      {{ partial:icons/arrow-back}}
    </a>
  </div>

  <div class="border-t border-t-black pt-8 lg:border-none lg:pt-0 md:col-span-7 md:col-start-4 lg:col-span-4 lg:col-start-3">
    {{ partial:components/heading_one :title="title" }}
    {{ content }}
      {{ if type == 'text' }}
        {{ text }}
      {{ /if }}
      {{ if type == 'contacts' }}
        <h2 class="mb-12">
          {{ trans key="Ansprechpersonen" }}:
        </h2>
        {{ team }}
          <a href="{{ permalink }}" title="{{ title }}" class="block font-grotesk-bold text-graphite hover:text-black transition-color">
            {{ title }}
          </a>
        {{ /team }}
      {{ /if }}
    {{ /content}}
  </div>

  <div class="hidden lg:block lg:col-span-4 lg:col-start-8">
    {{ partial:templates/content/expertise/menu is_detail="true" }}
  </div>

</section>