{{ if show_privacy_menu }}
  <footer class="md:grid md:grid-cols-12 md:gap-x-16">
    <ul class="hidden md:flex md:gap-x-16 md:col-span-9 md:col-start-4 lg:col-start-3">
      {{ nav:privacy_menu }}
        <li>
          <a 
            href="{{ url }}" 
            class="block font-grotesk-regular !text-sm text-graphite hover:text-black !leading-none"
            title="{{ title }}">
            {{ title }}
          </a>
        </li>
      {{ /nav:privacy_menu }}
    </ul>
  </footer>
{{ /if }}