<div class="absolute top-0 left-0 -z-10 w-full h-full flex">
  <div class="md:grid md:grid-cols-12 md:gap-x-16 px-16 flex-grow">
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
    <div class="md:cols-span-1 md:bg-red-50 lg:bg-yellow-50 xl:bg-blue-50"></div>
  </div>
</div>