<header x-data="{ menu: false }" class="py-16 md:py-32 mb-24 md:mb-84 lg:mb-78 lg:h-112">
  <div class="flex justify-between items-center md:items-start md:grid md:grid-cols-12 md:gap-x-16">
    <a href="/" title="Startseite Uto Legal" class="block !leading-none md:col-span-1 md:col-start-4 lg:col-start-3 md:relative">
      {{ partial:icons/logo :class="'block md:hidden w-auto h-34'" }}
      {{ partial:icons/uto :class="'hidden md:block md:absolute w-108 lg:w-120 h-48 lg:h-54 -left-118 lg:-left-132 -top-7 lg:-top-8'" }}
      {{ partial:icons/legal :class="'hidden md:block w-auto h-21 lg:h-24'" }}
    </a>
    <div class="md:flex md:justify-start md:pt-10 md:col-span-6 md:col-start-7 lg:col-span-5 lg:col-start-8">
      {{ partial:menu/main }}
      {{ partial:menu/button }}
    </div>
  </div>
</header>
