<section class="md:grid md:grid-cols-12 md:gap-x-16">
  <div class="hidden md:block md:col-span-12 md:order-2 lg:col-span-6 lg:col-start-1 lg:order-1">
    <div class="md:grid md:grid-cols-12 md:gap-16">
      {{ collection:team sort="order" }}
        <div class="md:col-span-4">
          <a 
            href="{{ permalink }}" 
            title="{{ title }}">
            {{ partial:components/picture :title="title" :image="portrait" class="hidden md:block" :width="portrait:width" :height="portrait:height"  }}
          </a>
        </div>
      {{ /collection:team }}
    </div>
  </div>
  <nav class="md:col-span-8 md:col-start-4 md:order-1 md:mb-56 lg:order-2 lg:col-span-4 lg:col-start-8">
    {{ partial:components/heading_one class="md:hidden" :title="title" }}
    <ul class="-mt-8 md:mt-0">
      {{ collection:team sort="order" }}
        <li>
          <a 
            href="{{ permalink }}" 
            title="{{ title }}" 
            class="block font-grotesk-bold text-black hover:text-graphite transition-colors py-8 md:py-0 md:mb-16">
            {{ title }}
          </a>
        </li>
      {{ /collection:team }}
    </ul>
  </nav>
</section>
